body {
    font-family: work-sans, sans-serif;
    background-color: black;
    color: rgb(235, 230, 230);
    text-align: center;
    margin: 100px;
}

.img-div {
    text-align: center;
    height: 200px;
    line-height: 200px;
}

.img-div img {
    vertical-align: middle;
    height: 200px;
    width: 200px;
}

h1 {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 38px;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 2.5em;
}

h2.contact {
    margin-top: 75px;
}

a {
    color: #d396c8;
}

.name {
    display: inline-block;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 400;
    padding-top: 10px;
    margin-top: 5px;
}

.aboutMe {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.aboutMe p {
    text-align: center;
    display: inline-block;
    border: 4px solid #63515f;
    background-color: #964c8769;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 45%;
}

.project-section {
    text-align: center;
}

.project {
    display: inline-block;
    border: 1px solid #c7c4c4;
    padding: 5px;
    margin: 18px;
    width: 30%;
    box-sizing: border-box;
    background-color: rgba(47, 79, 79, 0.894);
}

.project li {
    font-size: 15px;
    display: inline-block;
    border: 2px solid #8d6788;
    padding: 5px;
}

ul {
    padding: 0 0 0 0;
}

.project p {
    font-family: 'Courier New', Courier, monospace;
}

.project a {
    font-size: 20px;
    color: #e0bae0;
    padding: 5px;
    width: 50%;
}

#github-link {
    margin-top: 15px;
    margin-bottom: 30px;
}

.education {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.education h3 {
    font-size: 20px;
    display: inline-block;
    background-color: #765771;
    border: 3px solid #e8addd;
    padding: 15px;
    margin-top: 50px;
}

.background {
    text-align: center;
}

.education {
    margin-top: 50px;
    color: #93b79a;
    font-family: 'Courier New', Courier, monospace;
}


.education p {
    color: #ffffff;
}

.plus {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
}

.education h4 {
    margin-top: 8em !important; 
}

.education h4:first-of-type {
    margin-top: 2em !important;
}

.education .background-section:last-of-type {
    margin-bottom: 10em !important;
}

.background-section {
    margin: 60px;
}

div .background-section {
    margin-bottom: 7em;
}

.background h4 {
    margin-top: 40px;
}

.background h4 {
    font-size: 25px;
}

.section-margin-bottom {
    margin-bottom: 50px;
}

.organizations {
    margin-top: 50px;
    color: #93b79a;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}


.organizations p {
    color: #ffffff;
}

.organizations h3 {
    font-size: 20px;
    display: inline-block;
    background-color: #765771;
    border: 3px solid #e8addd;
    padding: 15px;
    margin-top: 50px;
}

.interests h3 {
    font-size: 20px;
    display: inline-block;
    background-color: #445d4e;
    border: 3px solid #cee2cf;
    padding: 15px;
    margin-top: 50px;
}

.interests {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}

.interests h3 {
    font-size: 20px;
    display: block;
    background-color: #445d4e;
    border: 3px solid #cee2cf;
    padding: 15px;
    margin: 75px auto 0;
    width: fit-content;
}

.centered-li {
    text-align: left;
    margin: 10px;
    padding: 5px;
    list-style-position: inside;
    display: inline-block;
    list-style-type: none;
}

.interests ul.centered-li {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.interests ul.centered-li li {
    text-align: center;
    display: block;
}


.hobbies {
    margin: 0 auto;
    text-align: center;
}

.bold-purp {
    font-weight: bold;
    color: rgb(202, 161, 193);
}

.contact {
    font-size: 24px;
}

.email {
    font-size: 13px;
}

@media (max-width: 767px) {
    body {
        margin: 50px; /* Reduced margin for mobile */
    }
    .project {
        width: 100%;
        margin: 25px 0;
        display: block;
    }
    .aboutMe p, .background p {
        width: calc(100% - 20px);
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
    }
    .background-section p {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
        box-sizing: border-box;
        text-align: center;
    }
    h2, .background h2, .background h3, .background h4 {
        text-align: center;
        width: 100%;
        margin: 20px auto;
    }
    .background h3 {
        text-align: center;
        width: 80%;
        margin: 5px auto;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .background-section, .education, .organizations {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .interests h3 {
        margin: 50px auto 0;
        width: 75%;
        padding: 15px;
        margin-top: 25px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        box-sizing: border-box;
    }
    .new-line {
        display: block;
        margin-top: 5px;
    }
    .hidden {
        display: none;
    }
}

